.htaccess
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/*
wp-content/themes/*
!wp-content/themes/jrblog
wp-content/themes/jrblog/css-compiled/*
!wp-content/themes/jrblog/css-compiled/index.php
wp-content/cache/
wp-content/backups/
wp-content/index.php
vendor/*
sitemap.xml.gz
composer.lock
sitemap.xml
license.txt
readme.html
xmlrpc.php
/index.php
/wp-*.php
*.log