<div class="ca-gallery--browse-view">

	<label for="">Title</label><br>
	<input type="text" name="title" value="{{title}}">
	<br><br>

	<label for="">Caption</label><br>
	<textarea name="caption">{{caption}}</textarea>
	<br><br>

	<label for="">Photo Credit</label><br>
	<input type="text" name="photo_credit" value="{{photo_credit}}">
	<br><br>

	<input{{#high_resolution_download_disabled}} checked="checked"{{/high_resolution_download_disabled}} type="checkbox" name="high_resolution_download_disabled" value="1"> <label for="">Disable High Resolution download</label>

</div>