{{#id}}
<div class="bebop-ui-clrfix">
    {{#source_is_youtube}}
        <div CA-gallery--youtube-item-el="embed">
            <iframe src="//www.youtube.com/embed/{{id}}" width="160" height="90" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div CA-gallery--youtube-item-el="meta">
            {{#title}}<h4>{{title}}</h4>{{/title}}
        </div>
    {{/source_is_youtube}}
    {{#source_is_vimeo}}
    	<div CA-gallery--vimeo-item-el="embed">
    		<iframe src="//player.vimeo.com/video/{{id}}" width="160" height="90" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    	</div>
    	<div CA-gallery--vimeo-item-el="meta">
    		{{#title}}<h4>{{title}}</h4>{{/title}}
    	</div>
    {{/source_is_vimeo}}
</div>
{{/id}}
{{^id}}
<span class="description">You need to insert a {{#source_is_youtube}}Youtube{{/source_is_youtube}}{{#source_is_vimeo}}Vimeo{{/source_is_vimeo}} ID</span>
{{/id}}